ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    position: relative;
}

ul ul {
    position: absolute;
    display: none;
}

li a {
    color: white;
}

a.hover
{
	shadow:0 0 10px #ccc;
}

li:hover ul {
    display: block;
}



body
{
	position:relative;
	background-color: white;
	color: black;
}

header
{
	background-color:black;
	border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: white;
}